<a href="https://colab.research.google.com/github/anpppo/py_app/blob/main/EX03_01_%E5%85%AC%E5%8F%B8%E8%96%AA%E8%B3%87%E6%A6%82%E6%B3%81%E2%85%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 40, 22, 29, 38, 27, 33, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Salary': [50000, 60000, 75000, 80000, 45000, 62000, 72000, 58000, 69000, 71000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing', 'IT', 'HR', 'Finance', 'Marketing', 'IT', 'Finance']}
df = pd.DataFrame(data)

df

In [ ]:
df[["Name","Salary"]]

In [ ]:
df.loc[5:8]

In [ ]:
avg_sal =df["Salary"].mean()
avg_age =df["Age"].mean()

df[(df["Salary"]>avg_sal) & (df["Age"]>avg_age)]

In [5]:
print(df["Salary"].mean(),df["Age"].max(),df["Age"].min(),df["Age"].median())

64200.0 40 22 30.5

In [7]:
df["Department"].unique()

array(['IT', 'HR', 'Finance', 'Marketing'], dtype=object)

In [10]:
print( df.groupby('Department')["Salary"].mean().idxmax, df.groupby('Department')["Salary"].mean().max)

print(df.groupby("Department")["Age"].mean().idxmin,df.groupby("Department")["Age"].mean().min)

<bound method Series.idxmax of Department
Finance      72666.666667
HR           61000.000000
IT           54666.666667
Marketing    69000.000000
Name: Salary, dtype: float64> <bound method Series.max of Department
Finance      72666.666667
HR           61000.000000
IT           54666.666667
Marketing    69000.000000
Name: Salary, dtype: float64>

In [12]:
print(df[["Age","Salary"]].corr())

             Age    Salary
Age     1.000000  0.949344
Salary  0.949344  1.000000